{:paths ["src"]
 :deps {expound {:mvn/version "0.7.2"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.9"}}
                 :extra-paths ["dev-resources"]
                 :main-opts ["dev.clj"]}
           :docs {:extra-deps {dynadoc {:mvn/version "RELEASE"}
                               org.clojure/clojurescript {:mvn/version "1.10.764"}
                               com.bhauman/figwheel-main {:mvn/version "0.2.9"}}
                  :extra-paths ["doc-resources"]
                  :main-opts ["docs.clj"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}
           :test {:extra-paths ["test"]
                  :main-opts ["test.clj"]}
           :bench {:extra-deps {net.sekao/clarax {:mvn/version "0.4.1"}
                                datascript {:mvn/version "1.0.1"}}
                   :extra-paths ["bench-resources"]
                   :main-opts ["bench.clj"]}}}
