{:paths ["src"]
 :deps {expound/expound {:mvn/version "0.9.0"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
                 :extra-paths ["dev-src"]
                 :main-opts ["dev.clj"]}
           :docs {:extra-deps {dynadoc/dynadoc {:mvn/version "RELEASE"}
                               org.clojure/clojurescript {:mvn/version "1.11.4"}
                               com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
                  :extra-paths ["docs-src"]
                  :main-opts ["docs.clj"]}
           :prod {:extra-deps {leiningen/leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}
           :test {:extra-paths ["test"]
                  :main-opts ["test.clj"]}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}
                                    org.clojure/test.check {:mvn/version "1.1.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"
                                   "-d" "test"]}
           :bench {:extra-deps {net.sekao/clarax {:mvn/version "0.4.1"}
                                datascript/datascript {:mvn/version "1.0.1"}
                                com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.0"}}
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"
                              "-XX:+UnlockDiagnosticVMOptions"
                              "-XX:+DebugNonSafepoints"]
                   :extra-paths ["bench-src"]
                   :main-opts ["bench.clj"]}}}
