^{:open-url "http://localhost:9500"
  :clean-outputs true}
{:main          odoyle.readme
 :optimizations :none
 :output-to     "dev-resources/public/main.js"
 :output-dir    "dev-resources/public/main.out"
 :asset-path    "/main.out"}
