^{:open-url "http://localhost:5000/cljs/odoyle.rules"
  :clean-outputs true
  ;; don't watch doc-resources or figwheel will get into an infinite loop
  :watch-dirs ["src" "dev-resources"]}
{:main          odoyle.examples
 :optimizations :simple
 :output-to     "doc-resources/dynadoc-extend/main.js"
 :output-dir    "doc-resources/dynadoc-extend/main.out"
 :asset-path    "/main.out"}
