^{:open-url "http://localhost:5000/cljs/odoyle.rules"
  :clean-outputs true
  ;; don't watch docs-src or figwheel will get into an infinite loop
  :watch-dirs ["src"]}
{:main          odoyle.examples
 :optimizations :simple
 :output-to     "docs-src/dynadoc-extend/main.js"
 :output-dir    "docs-src/dynadoc-extend/main.out"
 :asset-path    "/main.out"}
